@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #383639;
    
}
html {
    scroll-behavior: smooth; 
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    max-width: 1420px;   
}
a {
    text-decoration: none;
    color: #383639; 
    transition: 0.5s;
    cursor: pointer;
}
a:hover {
    color: #AEC5EB;
}

/* Header */

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    color: #383639; 
    background-color: #B9A7C2;
}
.navigation {
    margin-right: 20px;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.nav-item a {
    display: block;
    position: relative;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
}
.nav-item a::after {
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    width: 0%;
    background-color: #AEC5EB;
    transition: all ease-in-out 0.3s; 
}
.nav-item a:hover::after {
    width: 100%;
}

/* Main */

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;  
}
.ava {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#my-avatar {
    width:80%;
    height: auto;
}

/* Contacts and skills */

.contacts-and-skills {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 30%;
    padding: 20px 20px;
    background-color: #d9d9f3;
}
#contacts, #skills, #langs, #code {
    padding-left: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid #FFEBE7;    
}
.contact-info, .skill-info  {
    padding-right: 10px;
}
.contact-list {
    list-style-type: none;
    line-height: 1.7em;
    font-size: 14px;
}
.skill-list  {    
    list-style-type: circle;
    line-height: 1.7em;
    font-size: 14px;    
}
.lang-list {
    list-style-type: circle;
    line-height: 1.7em;
    font-size: 14px; 
    height: auto; 
}

/* Basics  */

.basics {
    width: 70%;
    padding: 0 20px;
    line-height: 1.7em;
    background-color: #FFEBE7;
}
.page-title {
    padding-left: 40px;
    padding-bottom: 5px;
    line-height: normal;
}
#my-name {
    font-size: 32px;
}
#about, #exp, #edu, #proj, #code {
    padding-left: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid #d9d9f3;
}
.project-examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
}
.project-item {
    position: relative;
    width: 40%;
    overflow: hidden;
}  
.project-item img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
} 
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.5s ease;
} 
.project-item:hover .overlay {
    height: 100%;
}
.project-item:hover img {
    transform: scale(1.1);
}  
.project-name {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.project-name a {
    color: rgba(255, 255, 255, 1);
}
.project-name a:hover {
    color: #383639;
}
code {
    display: block;
    font-size: 12px;
    overflow:auto;
}

/* Footer */

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10px;
    background-color: #B9A7C2;   
}
#rs-logo {
    width: 100px;
    padding-left: 20px;
}
.copy {
    font-size: 16px;
    padding-left: 10px;
}
.social-icons {
    list-style-type: none;
    display: flex;   
}
.icon {
    color: #383639;
    padding-right: 15px;
}




